<div data-page="profile" class="page contact-page page-on-center no-toolbar no-navbar">
    <div class="page-content" style="background-color: #fff;">
        <div class="navbarpages">
            <div class="nav_left_logo"><a href="index.html"><img src="statics/img/logo.png" alt="" title="" /></a></div>
            <div class="nav_right_button"><a href="views/mainMenu/menu.html"><img src="statics/img/icons/white/home.png" alt="" title="" /></a></div>
        </div>
        <div class="contact-header">
        	<div class="item-photo">
        		<img src="statics/img/avatar.jpg">
        	</div>
        	<div class="header-text">
	        	<h3></h3>
	        	<p></p>
	        </div>
        </div>
        <div class="list-block" style="position: relative; top: 100px;">
        	<div class="list-group" style="margin-bottom: 20%;">
        		<ul>
        			<li class="item-content">
        				<div class="item-media">
        					<i class="icon ion-ribbon-b mb-2x"></i>
        				</div>
        				<div class="item-inner">
        					<div class="item-title">Partidas Ganadas: <span id="ganadas" style="font-size: 1.8em; "></span></div>
        				</div>
        			</li>
        			<li class="item-content">
        				<div class="item-media">
        					<i class="icon ion-podium mb-2x"></i>
        				</div>
        				<div class="item-inner">
        					<div class="item-title">Partidas Perdidas: <span id="perdidas" style="font-size: 1.8em; "></span></div>
        				</div>
        			</li>
        			<li class="item-content">
        				<div class="item-media">
        					<i class="icon ion-star mb-2x"></i>
        				</div>
        				<div class="item-inner">
        					<div class="item-title">Puntaje Total: <span id="punto" style="font-size: 1.8em; "></span></div>
        				</div>
        			</li>
        		</ul>
        	</div>
            <div class="wrapper-resumen">
                <a href="views/mainMenu/menu.html" class="button button-big button-round active">Ir al menú principal</a>
            </div>
        </div>
    </div>	
</div>